* {
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.column {
  flex: 1 1 34%;
  display: flex;
  align-items: center;
  transition: flex-shrink 0.3s ease-in-out, flex-basis 0.3s ease-in-out, font-size 0.3s ease-in-out;
  cursor: pointer;
}

.column--left {
  background-color: rgb(190, 230, 99);
}

.column--center {
  background-color: rgb(198, 167, 49);
}

.column--right {
  background-color: rgb(48, 72, 198);
}

.column.is-expanded {
  flex-shrink: 0;
  flex-basis: calc(100vw - 100px);
}

.column:not(.is-expanded) {
  font-size: 10px;
}

.column p {
  text-align: center;
  width: 100%;
}



